<% layout("layouts/boilerplate") %>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <form
          method="POST"
          action="/listings/<%= showData._id %>?_method=PATCH"
          class="needs-validation"
          enctype="multipart/form-data"
          novalidate
        >
          <br />
          <br />
          <h3 class="text-center mb-4">Edit your listing</h3>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              name="listing[title]"
              value="<%=showData.title%>"
              required
            />
            <div class="valid-feedback">Title looks good</div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="listing[description]" required>
        <%= showData.description %></textarea
            >
            <div class="invalid-feedback">Enter a short description</div>
          </div>
          <div class="mb-3">
            <p>Orignal image</p>
            <img src="<%= originalimageurl %>" height="250" width="250" />
          </div>
          <div class="mb-3">
            <label for="imageUrl" class="form-label">Upload new image</label>
            <input type="file" class="form-control" name="listing[image]" />
          </div>
          <div class="row">
            <div class="mb-3 col-4">
              <label for="price" class="form-label">Price</label>
              <input
                class="form-control"
                type="number"
                name="listing[price]"
                value="<%=showData.price%>"
                required
              />
              <div class="invalid-feedback">Enter the price</div>
            </div>
            <div class="mb-3 col-8">
              <label for="country" class="form-label">Country</label>
              <input
                class="form-control"
                type="text"
                name="listing[country]"
                value="<%=showData.country%>"
                required
              />
              <div class="invalid-feedback">Enter the valid country name</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              class="form-control"
              type="text"
              name="listing[location]"
              value="<%=showData.location %>"
              required
            />
            <div class="invalid-feedback">Enter the valid location name</div>
          </div>
          <div class="text-center">
            <button class="btn btn-dark btn-lg">Update Listing</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
